.circle {
  display: block;
  width: 3rem;
  height: 3rem;
  border: 0.5rem solid var(--bg-color-darker);
  border-top: 0.5rem solid var(--text);
  border-radius: 50%;
  animation: rotate 500ms linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
