.date {
  padding: 0.5rem 1rem;
  background-color: var(--text);
  color: var(--bg-color-darker);
}

.date:hover {
  background-color: var(--text-hover);
}

@media screen and (max-width: 900px) {
  .date {
    padding: 0.25rem 0.5rem;
  }
}
