.header {
  background-color: var(--bg-color-darker);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.h1 {
  text-align: center;
  margin: 0;
  font-weight: 800;
  font-size: 3rem;

  color: transparent;
  background-image: linear-gradient(
    to right,
    var(--gradient0),
    var(--gradient1),
    var(--gradient2),
    var(--gradient1),
    var(--gradient0)
  );
  background-size: 800% auto;
  animation: gradient 120s linear infinite;
  background-clip: text;
}

@keyframes gradient {
  to {
    background-position: 800% center;
  }
}

@media screen and (max-width: 900px) {
  .h1 {
    font-size: 2rem;
  }
}

.linkContainer {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 550px) {
  .header {
    padding: 1rem 1rem;
    flex-direction: column;
    gap: 1.5rem;
  }

  .linkContainer {
    flex-wrap: wrap;
  }
}

.link {
  background: none;
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.underlined {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
