.container {
  position: absolute;
}

.image {
  max-height: 100%;
  max-width: 100%;
}

.imageFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: var(--bg-color-darker-semi-transparent);
  display: flex;
  justify-content: space-between;
}

.infoButton {
  background: none;
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
