.footer {
  background-color: var(--bg-color-darker);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.githubLink {
  background: none;
  color: var(--text);
}

.container {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 550px) {
  .footer {
    padding: 1rem 1rem;
    gap: 1rem;
  }

  .container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
