:root {
  --bg-color: #111016;
  --bg-color-darker: #050508;
  --text: #e0bf00;
  --text-hover: #ffd900;

  --gradient0: #00ff7f;
  --gradient1: #006eff;
  --gradient2: #ff007f;
}

/* general: */
* {
  box-sizing: border-box;
  font-family: Karla, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
}

p {
  font-weight: 700;
  background: none;
  color: var(--text);
  text-decoration: none;
  text-transform: none;
  margin: 0;
}

a,
button,
input {
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
  font-weight: 700;
}

/* document layout: */
html,
body,
#root {
  height: 100vh;
  margin: 0;
}

#root {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* main content, image: */
.container-image {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-image img {
  max-width: 100%;
  max-height: 100%;
}

/* Error message: */
.error-message {
  font-size: 1.5rem;
  text-align: center;
  padding: 0 2rem;
}

@media screen and (max-width: 900px) {
  /* error message: */
  .error-message {
    font-size: 1rem;
  }
}
