:root {
  --bg-color: #111016;
  --bg-color-darker: #050508;
  --bg-color-darker-semi-transparent: #05050880;
  --text: #e0bf00;
  --text-hover: #ffd900;

  --inactive-grey: #8b8b92;

  --gradient0: #00ff7f;
  --gradient1: #006eff;
  --gradient2: #ff007f;
}

/* general: */
* {
  box-sizing: border-box;
  font-family: "Karla Variable", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
}

p {
  font-weight: 700;
  background: none;
  color: var(--text);
  text-decoration: none;
  text-transform: none;
  margin: 0;
}

a,
button,
input {
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
  font-weight: 700;
}

/* document layout: */
html,
body,
#root {
  height: 100vh;
  margin: 0;
}
